*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.info_item i {
    margin-right: 30px;
}
div#profile {
    background: #fdff7c;
    padding: 25px 25px 25px 25px;
    border: 2px #ff680f solid;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #696868;
}
div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin-bottom: 0px;
}
p
{
    font-family: 'Roboto' Slab, sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    color: #76777a;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
p:last-of-type
{
    margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
    position: relative;
    color: #FF6347;
}
p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;
}
p a:hover::after
{
    opacity: 0.2;
}
::selection
{

}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif !important;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
    color: #db5246;
}
section
{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.clearfix::before, .clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.trans_200
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height
{
    height: 100%;
}
.super_container
{
    width: 100%;
    overflow: hidden;
}
.prlx_parent
{
    overflow: hidden;
}
.prlx
{
    height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
    padding: 0px !important;
}

/*********************************
Header
*********************************/

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header.scrolled
{
    top: -42px;
}

/*********************************
Top Bar
*********************************/

.top_bar {
    width: 100%;
    background: #b9eba0;
}
.header.scrolled .top_bar
{

}
.top_bar_container
{
    width: 100%;
    height: 100%;
}
.top_bar_content
{
    width: 100%;
    height: 40px;
}
ul.top_bar_contact_list li a {
    display: -webkit-box;
    margin: 0px 6px 0px 2px;
    font-family: cursive;
    font-weight: 600;
}
.top_bar_contact_list li a:hover{
    text-decoration:revert;
}
.top_bar_contact_list li
{
    display: inline-block;
}
ul.top_bar_contact_list a i {
    margin: 0 6px 0 0px;
}
.question
{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 0px;
}
a#question:hover {
    text-decoration: revert;
}
.top_bar_contact_list li i,
.top_bar_contact_list li > div
{
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
}
.top_bar_contact_list li > div
{
    margin-left: 1px;
}
.top_bar_contact_list li:not(:last-child)
{
    margin-right: 21px;
}
.top_bar_login
{
    height: 100%;
}
.login_button
{
    width: 160px;
    height: 100%;
    background: #f3f3f3;
    text-align: center;
}
.login_button a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    color: #384158;
}

.login_button a:hover {
    background: #0000ff5c;
}

/*********************************
 Header Content
*********************************/

.header_container
{
    width: 100%;
    background: #f9bbbb;
}

.header_container .logo_container {
    width: 10%;
    height: 90%;
}

.logo_container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.header_content
{
    height: 90px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header.scrolled .header_content
{
    height: 62px;
}

/*********************************
 Logo
*********************************/

.logo,
.logo_text
{
    display: inline-block;
}
.logo
{
    width: 60px;
    height: 60px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.logo img
{
    max-width: 100%;
}
.logo_text
{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    color: #384158;
    vertical-align: middle;
    margin-left: 7px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.logo_text span
{
    color: #14bdee;
}
.header.scrolled .logo
{
    width: 40px;
    height: 40px;
}
.header.scrolled .logo_text
{
    font-size: 24px;
}
/*********************************
Main Nav
*********************************/

.main_nav_contaner
{

}
.main_nav,
.search_button,
.shopping_cart
{
    display: inline-block;
}
.main_nav li
{
    display: inline-block;
    position: relative;
}
.main_nav li:not(:last-child)
{
    margin-right: 44px;
}
.main_nav li a
{
    FONT-WEIGHT: 600;
    font-size: 17px;
    color: #384158;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.main_nav li a:hover, .main_nav li.active a {
    color: #14bdee;
    background: #fbffc0;
    border-radius: 6px;
}
.main_nav li.active::after
{
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #14bdee;
    content: '';
}
.search_button
{
    margin-left: 46px;
    cursor: pointer;
}
.shopping_cart
{
    margin-left: 23px;
    cursor: pointer;
}
.search_button i,
.shopping_cart i
{
    font-size: 18px;
    color: #181818;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.search_button:hover i,
.shopping_cart:hover i
{
    color: #14bdee;
}
.header_search_form
{
    display: block;
    position: relative;
    width: 40%;
}
.header_search_container
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #14bdee;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header_search_container.active
{
    bottom: -73px;
    opacity: 1;
}
.header_search_content
{
    width: 100%;
    height: 73px;
}
.search_input
{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.header_search_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

/*********************************
 Hamburger
*********************************/

.hamburger_container
{

}
.hamburger
{
    display: none;
    cursor: pointer;
}
.hamburger i
{
    font-size: 20px;
    color: #353535;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.hamburger:hover i
{
    color: #14bdee;
}

/*********************************
6. Home
*********************************/

.home
{
    width: 100%;
    height: 182px;
    background: #f2f4f5;
    border-bottom: solid 1px #edeff0;
}
.breadcrumbs_container
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 13px;
    padding-left: 3px;
}
.breadcrumbs ul li
{
    display: inline-block;
    position: relative;
}
.breadcrumbs ul li:not(:last-child)::after
{
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f105';
    margin-left: 7px;
    margin-right: 4px;
    color: #384158;
}
.breadcrumbs ul li a
{
    font-size: 14px;
    font-weight: 400;
    color: #384158;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
    color: #14bdee;
}


/*phan noi dung user************************************************************************/

.content {
    padding-top: 100px;
}

.info_item span {
    width: 50%;
}

.info_item p {
    width: 50%;
    text-align: left;
    margin-bottom: 1px;
}

.info_item {
    width: 100%;
    display: flex;
    margin: 10px 0px 10px 0px;
    background: #93ffd7;
    padding: 0px 0px 0px 30px;
    font-size: 20px;
    align-items: center;
    height: 40px;
    border: 1px #f000ff solid;
    border-radius: 10px;
}

.list_info {
    display: inline-block;
    width: 100%;
}

.avatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    background: gray;
    width: 100%;
    height: 100%;
}
.avatar .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.avatar .btn:hover {
    background-color: black;
}
.i_modal{
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    outline: 0;
}

.i_modal_content{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    width: 500px;
    margin: 100px auto;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    max-height: 70%;
}

.i_modal_content table{
    margin: 30px;
    color: black;
}

.r-only{
    width: 300px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer ***************************************************************/
.footer
{	margin-top: 100px;
	display: block;
	position: relative;
	width: 100%;
	background: #1e2434;
	padding-top: 94px;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer_content
{
	padding-bottom: 53px;
}
.footer_logo_text
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_logo_text span
{
	color: #14bdee;
}
.footer_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 0.75;
}
.footer_logo_container
{
	margin-top: -14px;
}
.footer_about_text
{
	margin-top: 31px;
}
.footer_about_text p
{
	color: #FFFFFF;
}
.footer_social
{
	margin-top: 23px;
}
.footer_social ul li
{
	display: inline-block;
	width: 45px;
	height: 45px;
	background: #4b505d;
	border-radius: 50%;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 6px;
}
.footer_social ul li a
{
	display: block;
	position: relative;
	text-align: center;
}
.footer_social ul li a i
{
	color: #FFFFFF;
	line-height: 45px;
}
.footer_social ul li:hover
{
	background: #14bdee;
}
.footer_contact
{
	padding-left: 36px;
}
.footer_contact_info
{
	margin-top: 33px;
}
.footer_contact_info ul li
{
	font-size: 14px;
	font-weight: 400;
	color: #b5b8be;
}
.footer_contact_info ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.footer_links
{
	padding-left: 80px;
}
.footer_links_container ul
{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.footer_links_container
{
	margin-top: 33px;
}
.footer_links_container ul li a
{
	font-size: 14px;
	color: #b5b8be;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links_container ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.footer_links_container ul li a:hover
{
	color: #14bdee;
}
.footer_mobile
{
	display: inline-block;
	float: right;
}
.footer_mobile_content
{
	padding-top: 35px;
}
.footer_image:not(:last-child)
{
	margin-bottom: 10px;
}